#define WIFI_SSID     "<ssid>"
#define WIFI_PASSWORD "<password>"

#define MQTT_SERVER   "hassio.lan"
#define MQTT_CLIENTID "catfeeder1"
#define MQTT_USER     "catfeeder"
#define MQTT_PASS     "catfeeder"

#define HA_ID         "cat_feeder"
#define HA_NAME       "Cat Feeder"

#define PIN_INPUT     D5
#define PIN_OUTPUT    D6

#define DEBUG_SERIAL  1
