#define wifi_ssid     "<ssid>"
#define wifi_password "<password>"

#define mqtt_server   "hassio.lan"
#define mqtt_clientid "catfeeder1"
#define mqtt_user     "catfeeder"
#define mqtt_pass     "catfeeder"

#define ha_id         "cat_feeder"
#define ha_name       "Cat Feeder"

#define inputPin  D5
#define outputPin D6
